.rakip-analizi-header{
    color: #afb0b6;
}
.rakip-analizi-title{
    color: #3a384a;
    font-weight: 400;
}
.rakip-analizi-des{
    color: #7c7b85;

}
.rakip-analizi-btn{
    color: #fff;
    cursor: pointer;
}
.rakip-img{
    position: relative;
    right: -0.64cm;
}