.tum-sikayetler-header {
  color: #caccd6;
  letter-spacing: 0.5px;
}
.tum-sikayetler-header > h1 {
  font-weight: 700;
}
.tum-sikayetler-header > h5 {
  border-left: 1px solid #caccd6;
  margin-left: 10px;
  margin-top: 10px;
  padding-left: 20px;
}


.filter-container {
  background-color: #272635;
  color: #383838;
  margin-top: 50px;
  padding: 40px 30px;
  border-radius: 20px;
}
.filter-search {
  background-color: #3a384a;
  color: #fff;
  width: 100%;
  margin-top: 19px;
  outline: none;
  font-size: 1.3rem;
  font-weight: 600;
  padding: 10px 35px;
  border: none;
  border-radius: 30px;
}
.filter-submit-btn {
  border: none;
  outline: none;
  background-color: #3a384a;
  position: absolute;
  right: 5%;
  bottom: 15%;
  color: #fff;
}

@media screen and (max-width: 415px) {
  .post-container{
    padding: 0px;
    padding-left: 20px;
  }
  .post-img {
    height: 45px;
    width: 45px;
    margin-right: 15px;
    border: 0.5px solid #272635;
  }
  .post-owner{
    font-size: 16px;
  }
  .post-time {
    top: -5%;
    letter-spacing: 0px;
    font-size: 14px;
    font-weight: 500;
  }
  .post-like-comment{
    width: 100%;
  }
  .post-like-comment > h5 {
    font-size: 15px;
  }
  .post-like-comment > h5 > i {
    margin-right: 5px;
  }
}