.popular-header {
  color: #85878e;
  margin-left: 60px;
  margin-top: 30px;
}
.popular-card-container {
  padding: 0px 60px;
}
.single-popular-card-div {
  padding-right: 30px;
}
.single-popular-card {
  background-color: #f4f5f9;
  padding: 0px 30px;
  padding-top: 25px;
  margin-bottom: 36px;
  border-radius: 20px;
}
/* .popular-item-img-div {
  background-color: #fff;
  padding: 0px 5px;
  border-radius: 10px;
} */
/* .popular-item-img{
  width: 110px;
} */
.popular-item-p {
  color: #afb0b6;
  font-weight: 700;
  font-size: 17px;
}
#popular-btn {
  background-color: #f4f5f9;
  color: #7c7b85;
  border: 1.5px solid #d1d2d7;
  border-radius: 30px;
  margin-top: 2px;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 25px;
  padding: 10px;
}
#popular-btn:hover {
  background-color: #afb0b6;
  color: #fff;
}
@media screen and (max-width:991px) {
  .popular-card-container{
    padding: 0px 0px;
    padding-left: 60px;
  }
}
@media screen and (max-width: 415px) {
  .popular-card-container {
    padding: 0px 0px;
    margin: 0px;
  }
  .single-popular-card-div {
    padding-right: 0px;
  }
  .single-popular-card {
    padding: 0px 10px;
  }
  .popular-item-div {
    padding-left: 20px;
    padding-top: 20px;
  }
}
