.marka-input-body {
  padding: 20px 50px;
}
.marka-input-container {
  background-color: #272635;
  border-radius: 40px;
  padding: 50px 65px;
}
.marka-input-container > h1 {
  color: #fff;
  font-weight: 700;
  letter-spacing: 0.7px;
  margin-bottom: 45px;
}
.marka-input-1 {
  color: #fff;
  background-color: #3a384a;
  height: 53px;
  border: 1px solid #3a384a;
  border-radius: 40px;
  outline: none;
  padding: 13px 0px;
  padding-left: 30px;
  padding-right: 55px;
  margin-right: 45px;
  font-weight: bold;
}
.marka-input-2 {
  color: #fff;
  background-color: #3a384a;
  height: 53px;
  border: 1px solid #3a384a;
  border-radius: 40px;
  outline: none;
  padding: 13px 0px;
  padding-left: 30px;
  padding-right: 55px;
  margin-left: 55px;
  font-weight: bold;
}
.marka-input-container > div > span {
  font-size: 22px;
}
#marka-btn {
  color: #fff;
  background-color: #3ad08f;
  border-color: #3ad08f;
  padding: 13px 53px;
  border-radius: 50px;
  cursor: pointer;
  border: 1px solid #afb0b6;
  margin-left: 45px;
  font-weight: bold;
}
@media screen and (min-width:416px) and (max-width: 1208px) {
  .marka-input-1{
    width: 100%;
    margin-bottom: 10px;
  }
  .marka-input-2{
    margin-left: 0px;
    margin-top: 10px;
    margin-bottom: 40px;
    width: 100%;

  }
  .marka-span{
    display: flex;
    justify-content: center;
  }
  #marka-btn{
    margin-left: 0px;
    width: 100%;
  }
}
@media screen and (max-width: 415px) {
  .marka-input-body {
    padding: 15px 10px;
  }
  .marka-input-container {
    padding: 25px 35px;
  }
  .marka-input-container > h1 {
    letter-spacing: 0px;
  }
  .marka-input-1 {
    padding: 13px 0px;
    padding-left: 30px;
    padding-right: 55px;
    margin-right: 0px;
    margin-bottom: 15px;
  }
  .marka-input-2 {
    padding: 13px 0px;
    padding-left: 30px;
    padding-right: 55px;
    margin-left: 0px;
    margin-top: 15px;
  }
  .marka-input-container > div > span {
    font-size: 24px;
    padding-left: 120px;
  }
  #marka-btn {
    width: 100%;
    margin-left: 0px;
    margin-top: 25px;
  }
}
