.header-img {
  width: 60%;
  margin: auto;
  padding-left: 60px;
}
.unactive {
  text-decoration: none;
  color: #afb0b6;
  font-size: 18px;
  font-weight: 600;
  padding-right: 20px;
}
.unactive:hover {
  color: #3a384a;
  text-decoration: none;
}
.active {
  color: #3a384a;
  text-decoration: none;
  padding-right: 20px;
  font-size: 18px;
  font-weight: 600;
}
.active:hover {
  color: #3a384a;
}
@media screen and (max-width: 415px) {
  .header-img {
    width: 160px;
    padding-left: 0px;
  }
}
