.marka-body {
  background-color: #f4f5f9;
  position: relative;
}
.marka-container {
  background-color: #272635;
  position: relative;
  padding-top: 55px;
  padding-left: 50px;
  padding-bottom: 65px;
  border-radius: 50px;
}
.karma-p {
  color: #7c7b85;
  margin-top: 30px;
  margin-bottom: 30px;
}
.karma-input {
  color: #ffffff;
  background-color: #3a384a;
  height: 53px;
  border: 1px solid #3a384a;
  border-radius: 40px;
  outline: none;
  padding: 0 35px;
  margin-right: 15px;
  font-weight: bold;
}
.karma-input-2 {
  color: #ffffff;
  background-color: #3a384a;
  height: 53px;
  border: 1px solid #3a384a;
  border-radius: 40px;
  outline: none;
  padding: 0 35px;
  margin-left: 15px;
  font-weight: bold;
}
#karma-btn {
  color: #fff;
  background-color: #3ad08f;
  border-color: #3ad08f;
  padding: 15px 43px;
  border-radius: 50px;
  cursor: pointer;
  border: 1px solid #afb0b6;
  margin-left: 22px;
  font-weight: bold;
}

.half-circle {
  height: 71px;
  width: 142px;
  background-color: #695de9;
  border-radius: 50%/0 0 100% 100%;
  transform: rotate(50deg);
  position: absolute;
  right: 25%;
  bottom: 57.5%;
}
.full-circle {
  height: 108.81px;
  width: 108.81px;
  border-radius: 61.81px;
  background-color: #3ad08f;
  position: absolute;
  right: 6%;
  bottom: 32.5%;
}
.line {
  height: 16px;
  width: 342px;
  background-color: #fff;
  transform: rotate(20.5deg);
  display: block;
  position: absolute;
  right: 7%;
  bottom: 39.5%;
}
.arrow {
  width: 0;
  height: 0;
  border: 103px solid transparent;
  border-top: 0;
  border-bottom: 160px solid #695de9;
  position: absolute;
  right: 12%;
  bottom: 0%;
}
.arrow2 {
  width: 0px;
  height: 0px;
  border: 97px solid transparent;
  border-top: 0;
  border-bottom: 145px solid #272635;
  position: absolute;
  right: 12.5%;
  bottom: 0%;
}

#karma-btn:hover {
  background-color: #fff;
  color: #3a384a;
  font-weight: bold;
}
@media screen and (max-width: 415px) {
  .marka-container {
    padding-top: 335px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .marka-title{
    font-size: 18px;
    letter-spacing: 1px;
  }
  .karma-input {
    height: 53px;
    border-radius: 40px;
    padding: 0 30px;
    margin-right: 15px;
    margin-bottom: 10px;
  }
  .karma-input-2 {
    height: 53px;
    border-radius: 40px;
    padding: 0 30px;
    margin-left: 0px;
    margin-top: 10px;  }
  .karma-span{
    margin-left: 130px;
    font-size: 20px;
  }
  #karma-btn {
    width: 90%;
    padding: 15px 43px;
    margin-top: 25px;
    margin-left: 5px;
  }
  .half-circle {
    height: 56px;
    width: 112px;
    transform: rotate(50deg);
    left: 9%;
    top: 8.5%;
  }
  .full-circle {
    height: 93.81px;
    width:  93.81px;
    right: 8%;
    top: 11.5%;
  }
  .line {
    height: 16px;
    width: 232px;
    transform: rotate(20.5deg);
    display: block;
    right: 13%;
    top: 18.5%;
  }
  .arrow {
    width: 0;
    height: 0;
    border: 82px solid transparent;
    border-top: 0;
    border-bottom: 130px solid #695de9;
    position: absolute;
    left: 24.3%;
    top: 20%;
  }
  .arrow2 {
    width: 0px;
    height: 0px;
    border: 80px solid transparent;
    border-top: 0;
    border-bottom: 120px solid #272635;
    position: absolute;
    left: 24.5%;
    top: 21.3%;
  }
}

@media screen and (min-width: 416px) and (max-width: 1200px) {
  .marka-container{
    padding-right: 30px;
  }
  .full-circle, .half-circle, .line, .arrow, .arrow2{
    display: none;
  }
  .karma-input {
    height: 53px;
    border-radius: 40px;
    padding: 0 30px;
    margin-right: 15px;
    margin-bottom: 10px;
  }
  .karma-input-2 {
    height: 53px;
    border-radius: 40px;
    padding: 0 30px;
    margin-left: 0px;
    margin-top: 10px;  }
  .karma-span{
    margin-left: 130px;
    font-size: 20px;
  }
  #karma-btn {
    width: 90%;
    padding: 15px 43px;
    margin-top: 25px;
    margin-left: 5px;
  }
  .karma-span{
    display: flex;
    justify-content: center;
    margin: auto;
  }
  .karma-input{
    width: 90%;
  }
  .karma-input-2{
    width: 90%;
  }
}
@media screen and (min-width:416px) and (max-width:962px) {
  .karma-input{
    width: 90%;
  }
  .karma-input-2{
    width: 90%;
  }
  .karma-span{
    display: flex;
    justify-content: center;
    margin: auto;
  }
}