.modal-button {
  background-color: #f8f9fa !important;
  color: #7c7b85;
  cursor: pointer;
  border: none !important;
  outline: none !important;
  outline-style: none !important;
  outline-color: none !important;
  margin-right: 20px;
}
.modal-button:focus {
  outline: none !important;
  outline-style: none !important;
  outline-color: 2px solid black !important;
  background-color: #f8f9fa !important;
  border: none !important;
  color: #3a384a;
}
.modal-button:hover {
  color: #3a384a;
  border: none !important;
}
.modals {
  padding: 0px !important;
  border-radius: 40px !important;
  margin-left: 120px;
  height: 90% !important;
  width: 75%;
  background-color: #f4f5f9;
}
.pattern-img-container {
  padding: 0px;
}
.modal-body {
  background-color: #f4f5f9;
  overflow-y: hidden !important;
}
.pattern-img {
  margin: 0px !important;
  padding: 0px !important;
  border-radius: 0px 0px 0px 50px;
  width: 100%;
  height: 560px;
  position: relative;
  top: -7%;
  left: -9%;
}

.sign-in-container {
  width: 50%;
  padding: 20px 75px;
}
.logo-mini {
  width: 40px;
  margin-bottom: 25px;
}
.new-sign-up-btn {
  border: none;
  background-color: #f4f5f9;
  text-decoration: underline;
}
.sign-in-header {
  display: flex;
  justify-content: space-between;
}
.sign-in-header > h4 {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.9px;
}
.btn-container {
  display: flex;
  justify-content: space-between;
  padding: 40px 0px;
}
.facebook-btn {
  border: none;
  background-color: #3664a2;
  color: #fff;
  font-weight: 700;
  letter-spacing: 0.5px;
  padding: 10px 24px;
  border-radius: 30px;
}
.facebook-btn > i {
  font-size: 20px;
  margin-right: 9px;
}
.google-btn {
  border: none;
  border: none;
  background-color: #ea4436;
  color: #fff;
  font-weight: 700;
  letter-spacing: 0.5px;
  padding: 10px 24px;
  border-radius: 30px;
}
.google-btn > i {
  font-size: 20px;
  margin-right: 9px;
}
.input-email {
  width: 100%;
  outline: none;
  border: none;
  border-radius: 30px;
  padding: 8px 23px;
  color: #272635;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 20px;
}
.input-password {
  width: 100%;
  outline: none;
  border: none;
  border-radius: 30px;
  padding: 8px 23px;
  color: #272635;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 20px;
}
#sign-in {
  width: 100%;
  border: none;
  background-color: #3ad08f;
  font-size: 1.3rem;
  font-weight: 700;
  color: #fff;
  letter-spacing: 1.3px;
  padding: 6px;
  border-radius: 30px;
  margin-top: 25px;
}
@media screen and (max-width: 991px) {
  .modal-button {
    margin: 0px !important;
    margin-bottom: 7px !important;
    padding: 0px !important;
    width: 14% !important;
  }
  .pattern-img-container{
    display: none;
  }
  .sign-in-container{
    width: 90%;
    padding: 20px 45px;
  }
  .btn-container {
    display: block;
    padding: 40px 0px;
  }
  .facebook-btn{
    width: 100%;
    margin-bottom: 15px;
  }
  .google-btn{
    width: 100%;
  }
  .modals {
    padding: 0px !important;
    border-radius: 40px !important;
    margin-top: 20px;
    margin-left: 29px;
    height: 85% !important;
    width: 90%;
    background-color: #f4f5f9;
  }
}
@media screen and (max-width: 885px) {
  .modal-button {
    margin: 0px !important;
    padding: 0px !important;
    width: 155px !important;
    margin-bottom: 5px !important;
    position: relative;
    left: -3% !important;
  }
}
@media screen and (max-width:499px) {
  .modals{
    height: 70% !important;
    margin-left: 10px;
  }
  .sign-in-container{
    padding: 20px 10px;
  }
}
@media screen and (min-width:992px) and (max-width:1301px) {
  .btn-container{
    display: block;
    padding: 30px 0px;
  }
  .facebook-btn{
    width: 100%;
    margin-bottom: 10px;
  }
  .google-btn{
    width: 100%;
  }
}
.aja{
  display: flex;
  flex-direction: column;
}