.item-container {
  width: 75%;
  margin: auto;
  height: auto;
}
.item-container .row {
  background-color: #f4f5f9;
  margin-bottom: 20px;
  padding-top: 15px;
  padding-bottom: 14px;
  border-radius: 20px;
}
.position-div {
  position: relative;
}
.position-bg {
  background-color: #c9f8e3;
  height: 135%;
  width: 50%;
  border-radius: 20px;
  position: absolute;
  top: -18%;
  left: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
} 
.img-container {
  height: 84px;
  background-color: white;
  border-radius: 20px;
}
.item-img {
  max-width: 75%;
  height: 75%;
  display: flex;
  justify-content: center;
  margin: auto;
}
.item-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}
.item-owner-details{
  padding-left: 10px;
  padding-top: 15px;
}
.item-details > div > h5 {
  letter-spacing: 1px;
}
@media screen and (max-width: 800px) {
  .item-container{
    width: 100%;
    height: 100%;
  }
  .item-details{
    display: block;
  }
  .item-owner-details{
    padding-left: 10px;
    padding-top: 15px;
  }
  .item-details>div>h5{
    margin-bottom: 16px;
  }
  .item-details>div>h6{
    margin-top: 5px;
  }
  .position-bg {
    height: 130%;
    width: 85%;
    border-radius: 20px;
    position: absolute;
    top: -16%;
    left: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
  } 
}